<ul class="{{ class|default:'' }}">
  <li><a href="{% url 'cabinet:administrator:dashboard' %}">Рабочий стол</a></li>
  <li><a href="{% url 'cabinet:administrator:quickstats' %}">Статистика</a></li>
  <li><a href="{% url 'cabinet:administrator:customer_list' %}">Клиенты</a></li>
  <li><a href="{% url 'cabinet:administrator:dashboard' %}">Вебмастера</a></li>
  <li><a href="{% url 'cabinet:administrator:dashboard' %}">Список мероприятий</a></li>
  <li><a href="{% url 'cabinet:administrator:dashboard' %}">Настройки</a></li>
</ul>