.footer {
  background: #0a0a0a;
  font-family: 'PragmaticaLight';
  font-size: 14px;
  color: #fff;
  padding-bottom: 44px;
  padding-top: 47px;
}
.footer_thnx {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .warning {
  margin: 0;
  width: 100%;
  padding: 0;
}
.footer .warning-icon {
  color: #fff;
  border-color: #fff;
}
.footer .warning-content {
  width: 300px;
  color: #fff;
  margin-top: 9px;
}
.footer .warning-content a {
  color: #ef3b6a;
}
.footer .copy {
  margin: 9px 0;
}
.footer .copy a {
  text-decoration: underline;
  color: #fff;
}
.footer .menu {
  height: 51px;
  line-height: 51px;
}
.footer .menu-list__item {
  padding-left: 10px;
}
.footer .menu__link {
  color: #1892e2;
  text-decoration: underline;
  font-size: 14px;
}
