html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 400px;
  position: relative;
  min-width: 960px;
  font-size: 16px;
  font-family: 'Prgamatica', 'Open Sans', Arial, Helvetica, sans-serif;
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body.thnx {
  background: url('../img/section-four__bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
#scrollup {
  position: fixed;
  opacity: 0.8;
  padding: 15px 10px 10px;
  background: #aaa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  top: 10px;
  left: 10px;
  display: none;
  cursor: pointer;
}
