.section {
  font-family: 'PragmaticaLight';
  &__title {
    //font-family: 'PragmaticaLight';
    font-size: 48px;
    &_white {
      color: #fff;
    }
  }
  &-first {
    padding: 117px 0 89px;
    .section__title {
      padding-bottom: 17px;
    }
    &-block {
      &__item {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 50px;
      }
      &__icon {
        width: 118px;
        height: 118px;
        margin-right: 20px;
        line-height: 118px;
        text-align: center;
        -webkit-border-radius: 118px;
        -moz-border-radius: 118px;
        border-radius: 118px;
        border: 2px solid #ef2a64;
        img {
          vertical-align: middle;
        }
      }
      &__text {
        //font-family: 'PragmaticaLight';
        width: 297px;
        font-size: 18px;
      }
    }
  }
  &-second {
    //height: 500px;
    background: url('../img/section_second.png') no-repeat;
    background-size: auto;
    padding-top: 141px;
    padding-bottom: 150px;
    background-position-x: 50%;
    color: #fff;
    font-family: 'PragmaticaLight';
    p, .button {
      margin-left: 41px;
    }
    &__text {
      font-size: 18px;
      letter-spacing: .4px;
      line-height: 1.2em;
      margin-bottom: 24px;
    }
    .section {
      &__title {
        letter-spacing: .9px;
        line-height: 1.2;
        margin-bottom: 34px;
      }
    }
  }

}