{% extends 'administrator/administrator_dashboard.html' %}
{% block title %}Профиль клиента test{% endblock %}
{% block header_submenu %}
  {% include 'administrator/customers/__includes/customers_menu.html' %}
{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Профиль клиента test</h2>
    </div>
    <div class="col-lg-12">
      <form method="get" action="" role="form">
        <table class="table table-form table-bordered bottom-remove">
          <tbody>
            <tr class="text-center">
              <td colspan="2">Персональная информация.</td>
            </tr>
            <tr>
              <td class="text-right"><span class="fieldrequired">*</span> Логин</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right">Имя</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right">Фамилия</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right">Новый пароль</td>
              <td><input type="password" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right">Повторите новый пароль</td>
              <td><input type="password" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right"><span class="fieldrequired">*</span> e-mail</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right"><span class="fieldrequired">*</span> Имя на сайте</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right">Реферальный код</td>
              <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td class="text-right">Приведён вебмастером</td>
              <td><input type="text" class="form-control"></td>
            </tr>

            <tr  class="text-center">
              <td colspan="2">
                <input type="submit" class="btn btn-success" value="Добавить">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}