<div class="container">
    <div class="header-submenu">
      <ul class="list-inline">
        <li><a href="{% url 'cabinet:administrator:event_list' %}">Управление мероприятиями</a></li>
        <li><a href="{% url 'cabinet:administrator:event_add' %}">Добавить новое мероприятие</a></li>
        <li><a href="{% url 'cabinet:administrator:section_list' %}">Управление материалами</a></li>
        <li><a href="{% url 'cabinet:administrator:material_add' %}">Добавить новый материал</a></li>
      </ul>
    </div>
  <div class="clearfix"></div>
</div>