{% extends 'cabinet/cabinet_base.html' %}
{% load staticfiles %}
{% block title %}Рабочий стол сео специалиста{% endblock %}
{% block header_menu %}
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="col-lg-12">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'cabinet:welcome' %}">
            <img src="{% static 'img/logotype.png' %}" alt="onlinestripclub.pro">
          </a>
        </div>
      {% include 'seo/__includes/seo_menu.html' with class="nav navbar-nav navbar-right" %}
      </div>
    </div>
  </nav>
{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Рабочий стол</h2>
    </div>
    <div class="col-lg-12">
      <table class="table table-condensed table-bordered table-list">
        <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Название страницы</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td><a href="{% url 'cabinet:seo:page_update' 1 %}">Главная</a></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td><a href="{% url 'cabinet:seo:page_update' 2 %}">Душевая</a></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td><a href="{% url 'cabinet:seo:page_update' 3 %}">О клубе</a></td>
          </tr>

          <tr>
            <td colspan="2">
              <button class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Удалить выбранные настройки
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block footer %}
  <div>
  {% include 'seo/__includes/seo_menu.html' %}
  <div class="clearfix"></div>
  </div>
{% endblock %}