{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% if error %}
  <div class="text-center sign-error">
    <p class="alert alert-warning">{{ error }}</p>
  </div>
{% endif %}
{% if user.is_authenticated %}
  <div class="text-center">
    <p class="alert alert-success">Вы уже авторизовались</p>
    <a href="{% url 'cabinet:logout' %}?next=/" class="btn btn-success">Выход</a>
{#    <a href="" class="btn btn-success">Выход</a>#}
  </div>
{% else %}
  <div class="sign">
    <h1>
      <i class="glyphicon glyphicon-lock"></i>
      Авторизация
    </h1>
    <form action="" role="form" method="post" >{% csrf_token %}
      <div class="form-group">
        <label for="id_username">Имя пользователя: *</label>
        <input type="text" name="username" id="id_username" class="form-control">
      </div>
      <div class="form-group add-bottom">
        <label for="id_password">Пароль: *</label>
        <input type="password" name="password" id="id_password" class="form-control">
      </div>
      <div class="submit-row">
        <input type="submit" value="Войти" class="btn btn-info">
      </div>
    </form>
  </div>
{% endif %}
{% endblock %}