{% extends 'administrator/administrator_dashboard.html' %}
{% block title %}Разделы сайта{% endblock %}
{% block header_submenu %}
  {% include 'administrator/site/__includes/site_menu.html' %}
{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Разделы сайта</h2>
    </div>
    <div class="col-lg-12">
      <table class="table table-condensed table-bordered table-list">
        <tbody>
          <tr>
            <td>
              <a href="{% url 'cabinet:administrator:material_list' 1 %}">О клубе</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Наши девушки</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Интерьеры клуба</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Меню</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}