<div class="container">
  <div class="header-submenu">
    <ul class="list-inline">
      <li><a href="{% url 'cabinet:administrator:quickstats' %}">Обзорная статистика</a></li>
      <li><a href="{% url 'cabinet:administrator:refererstats' %}">Реферальная статистика</a></li>
      <li><a href="{% url 'cabinet:administrator:webmasterstats' %}">Статистика по вебмастерам</a></li>
      <li><a href="{% url 'cabinet:administrator:livestats' %}">Кто онлайн</a></li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>