{% extends 'administrator/administrator_dashboard.html' %}
{% block title %}Список сотрудников{% endblock %}
{% block header_submenu %}
  {% include 'administrator/config/__includes/config_menu.html' %}
{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Добавить нового сотрудника</h2>
    </div>
    <div class="col-lg-12">
      <table class="table table-condensed table-bordered table-list">
        <thead>
          <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Скан паспорта</th>
            <th>Скан труд. договора</th>
            <th>Скан соглашения</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" value="Lorem Ipsum Set" class="form-control"></td>
            <td><input type="date" value="12.05.1991" class="form-control"></td>
            <td><input type="file" class="form-control"></td>
            <td><input type="file" class="form-control"></td>
            <td><input type="file" class="form-control"></td>
            <td>
              <button class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Список сотрудников</h2>
    </div>
    <div class="col-lg-12">
      <table class="table table-condensed table-bordered table-list">
        <thead>
          <tr>
            <th><input type="checkbox" name="select_all"></th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Скан паспорта</th>
            <th>Скан труд. договора</th>
            <th>Скан соглашения</th>
          </tr>
        </thead>
        <tbody>
        {% for i in '111111' %}
          <tr>
            <td><input type="checkbox" name="select"></td>
            <td><input type="text" value="Lorem Ipsum Set" class="form-control"></td>
            <td><input type="date" value="12.05.1991" class="form-control"></td>
            <td><input type="file" class="form-control"></td>
            <td><input type="file" class="form-control"></td>
            <td><input type="file" class="form-control"></td>
          </tr>
        {% endfor %}
          <tr>
          <td colspan="6">
            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span> Удалить выбранных сотрудников
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="text-right small">
        Всего найдено записей: <strong>6</strong>
      </p>
    </div>
  </div>
{% endblock %}