<div class="container">
    <div class="header-submenu">
      <ul class="list-inline">
        <li><a href="{% url 'cabinet:administrator:customer_list' %}">Управление клиентами</a></li>
        <li><a href="{% url 'cabinet:administrator:customer_add' %}">Добавить нового клиента</a></li>
        <li><a href="{% url 'cabinet:administrator:blockedlocations' %}">Заблокированные клиенты и адреса</a></li>
        <li><a href="{% url 'cabinet:administrator:membershiptransactions' %}">Оплата за подписки</a></li>
        <li><a href="{% url 'cabinet:administrator:chatlogs' %}">Логи чатов</a></li>
        <li><a href="{% url 'cabinet:administrator:badwords' %}">Плохие слова</a></li>
      </ul>
    </div>
  <div class="clearfix"></div>
</div>