<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
{% block viewport %}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
  <meta name="viewport" content="width=1366">
{% endblock %}
{% load staticfiles %}
  <title>{% block title %}{{ SETUP.title|default:'Заголовок сайта' }}{% endblock %}</title>
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="{% static 'landing/js/lib/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'landing/js/lib/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'landing/js/lib/jquery.form.js' %}"></script>
  <script src="{% static 'landing/js/lib/jquery.validate.js' %}"></script>
  <script src="{% static 'landing/js/lib/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'landing/js/main.js' %}"></script>
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/lib/html5.js' %}"></script><![endif]-->
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/lib/placeholder.js' %}"></script><![endif]-->
  <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'landing/img/favicon.ico' %}" type="image/x-icon">
  {{ SETUP.top_js|safe|default:'' }}
</head>
<body>
  {% include 'landing/__includes/header.html' %}
  {% include 'landing/__includes/section_first.html' %}
  {% include 'landing/__includes/section_second.html' %}
  {% include 'landing/__includes/section_third.html' %}
  {% include 'landing/__includes/section_four.html' %}
  {% include 'landing/__includes/section_five.html' %}
  {% include 'landing/__includes/section_six.html' %}
  {% include 'landing/__includes/section_seven.html' %}
  {% include 'landing/__includes/footer.html' %}
  <div id="confidentiality-block">
    <h2>Политика конфиденциальности</h2>
    <p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
    Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
    При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно.
    Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.
    </p>
  </div>
  {{ SETUP.bottom_js|safe|default:'' }}
</body>
</html>