<!DOCTYPE html>
<html lang="ru">
<head>
  {% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<title>Рекламное агентство «Дружба»</title>
	<link rel="stylesheet" href="{% static 'landing/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'landing/fancy-box/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'landing/css/main.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'landing/fancy-box/jquery.fancybox.js' %}"></script>
	<script src="{% static 'landing/js/scrollspy.js' %}"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<!--[if lt IE 10]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
	<script src="{% static 'landing/js/main.js' %}"></script>
	<script type="text/javascript">
		setTimeout('location.replace("{% url 'landing:index' %}")', 5000);
	</script>
  {{ SETUP.top_js|safe|default:'' }}
</head>
<body>
	<div class="container thnx">
		<div class="thnx-text">
			Спасибо за заявку. <br> Мы свяжемся с Вами <br> в ближайшее время.
		</div>	
	</div>
{{ SETUP.bottom_js|safe|default:'' }}
</body>
</html>