{% extends 'landing/index.html' %}
{% block content %}
  <section class="section section-site">
    <div class="container_12">
      <div class="grid_12">
        <p class="section__title section__title_white text-center">
          Версия сайта для планшета
        </p>
      </div>
      <div class="grid_12 ">
        <div class="section-site-tablet-view">
          <iframe width="790" height="544" src=" http://demo.onlinestripclub.pro" frameborder="0" sandbox="allow-same-origin allow-forms allow-scripts" name="iframe" scrolling="auto"> </iframe>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
{% endblock %}