{% extends 'landing/index.html' %}
{% block wrapper_class %} class="wrapper-bg"{% endblock %}
{% block content %}
  <section class="section section-site">
    <div class="container_12">
      <div class="grid_12">
        <p class="section__title section__title_white text-center">
          Как будет выглядеть ваш сайт
        </p>
      </div>
      <div class="grid_12">
        <div class="section-site-mobile">
{#          <iframe width="320" height="480" src=" http://demo.onlinestripclub.pro" sandbox="allow-same-origin allow-forms allow-scripts" name="iframe" scrolling="auto"> </iframe>#}
{#          <iframe width="320" height="480" src="{% url 'landing:index' %}" sandbox="allow-same-origin allow-forms allow-scripts" name="iframe" scrolling="auto"> </iframe>#}
          <a href="{% url 'landing:site-mobile' %}" class="section-site-button section-site-button__mobile">+</a>
        </div>
        <div class="section-site-laptop">
          <a href="http://demo.onlinestripclub.pro/" class="section-site-button section-site-button__laptop">Полная версия</a>
        </div>
        <div class="section-site-tablet">
          <a href="{% url 'landing:site-tablet' %}" class="section-site-button section-site-button__tablet">+</a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="grid_12">
{#        <iframe src="http://www.yandex.ru/" name="demo" width="300" height="400" scrolling="auto">#}
{#          браузер не поддерживает фреймы#}
{#        </iframe>#}
{#        <iframe width="320" height="560" src=" http://demo.onlinestripclub.pro" sandbox="allow-same-origin allow-forms allow-scripts" name="iframe" scrolling="auto"> </iframe>#}
      </div>
    </div>
  </section>
{% endblock %}