{% extends 'cabinet/cabinet_base.html' %}
{% load staticfiles %}
{% block title %}Рабочий стол администратора{% endblock %}
{% block header %}
  <div class="container">
    <div>
      <h1 class="bottom-add">Большой красивый логотип</h1>
    </div>
    <nav class="navbar navbar-default bottom-remove">
      <div class="container-fluid">
        {% include 'administrator/__includes/administrator_menu.html' with class="nav navbar-nav" %}
      </div>
    </nav>
  </div>
{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Рабочий стол</h2>
    </div>
    <div class="col-lg-12">
      <div class="quickmenulist">
        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">Статистика</div>
              <div class="panel-body">
                <table class="list">
                  <tbody>
                    <tr>
                      <td>
                        <a href="{% url 'cabinet:administrator:quickstats' %}">
                          <img src="{% static 'administrator/icons/quick_stats.png' %}" alt=""><br>
                          Обзорная статистика
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'cabinet:administrator:dashboard' %}">
                          <img src="{% static 'administrator/icons/domain_stats.png' %}" alt="">
                          <br>
                          Реферальная статистика
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'cabinet:administrator:dashboard' %}">
                          <img src="{% static 'administrator/icons/webmaster_stats.png' %}" alt="">
                          <br>
                          Статистика по Вебмастерам
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">Вебмастера</div>
              <div class="panel-body">
                <table class="list">
                  <tbody>
                    <tr>
                      <td>
                        <a href="{% url 'cabinet:administrator:webmaster_list' %}">
                          <img src="{% static 'administrator/icons/webmasters.png' %}" alt=""><br>
                          Управление вебмастерами
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'cabinet:administrator:webmaster_add' %}">
                          <img src="{% static 'administrator/icons/webmaster_add.png' %}" alt="">
                          <br>
                          Добавить нового вебмастера
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'cabinet:administrator:webmaster_banners' %}">
                          <img src="{% static 'administrator/icons/banners.png' %}" alt="">
                          <br>
                          Управление баннерами
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Клиенты</div>
          <div class="panel-body">
            <table class="list">
              <tbody>
                <tr>
                  <td>
                    <a href="{% url 'cabinet:administrator:customer_list' %}">
                      <img src="{% static 'administrator/icons/customers.png' %}" alt=""><br>
                      Управление клиентами
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:customer_add' %}">
                      <img src="{% static 'administrator/icons/customer_add.png' %}" alt="">
                      <br>
                      Добавить нового клиента
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:blockedlocations' %}">
                      <img src="{% static 'administrator/icons/blocked_locations.png' %}" alt="">
                      <br>
                      Заблокированные клиента и адреса
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:membershiptransactions' %}">
                      <img src="{% static 'administrator/icons/membershiptransactions.png' %}" alt="">
                      <br>
                      Оплата за подписки
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:chatlogs' %}">
                      <img src="{% static 'administrator/icons/chatlogs.png' %}" alt="">
                      <br>
                      Логи чатов
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:badwords' %}">
                      <img src="{% static 'administrator/icons/bad_words.png' %}" alt="">
                      <br>
                      Плохие слова
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">WEB сайт</div>
          <div class="panel-body">
            <table class="list">
              <tbody>
                <tr>
                  <td>
                    <a href="{% url 'cabinet:administrator:event_list' %}">
                      <img src="{% static 'administrator/icons/webmasters.png' %}" alt=""><br>
                      Управление мероприятиями
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:event_add' %}">
                      <img src="{% static 'administrator/icons/webmaster_add.png' %}" alt="">
                      <br>
                      Добавить новое мероприятия
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:section_list' %}">
                      <img src="{% static 'administrator/icons/material.png' %}" alt="">
                      <br>
                      Материалы сайта
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:material_add' %}">
                      <img src="{% static 'administrator/icons/material_add.png' %}" alt="">
                      <br>
                      Добавить новый материал
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Настройки</div>
          <div class="panel-body">
            <table class="list">
              <tbody>
                <tr>
                  <td>
                    <a href="{% url 'cabinet:administrator:systemconfig' %}">
                      <img src="{% static 'administrator/icons/system_config.png' %}" alt="">
                      <br>
                      Настройки
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:worker_list' %}">
                      <img src="{% static 'administrator/icons/webmasters.png' %}" alt=""><br>
                      Управление сотрудниками
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:archive_list' %}">
                      <img src="{% static 'administrator/icons/banners.png' %}" alt="">
                      <br>
                      Архив видео
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:paymentpackages_list' %}">
                      <img src="{% static 'administrator/icons/payment_packages.png' %}" alt="">
                      <br>
                      Платёжные пакеты
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:newsletter_list' %}">
                      <img src="{% static 'administrator/icons/newsletter.png' %}" alt="">
                      <br>
                      Рассылки
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:paymentcoupon_list' %}">
                      <img src="{% static 'administrator/icons/payment_coupons.png' %}" alt="">
                      <br>
                      Оплата купонов
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:camera_list' %}">
                      <img src="{% static 'administrator/icons/camera.png' %}" alt="">
                      <br>
                      Камеры
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:page_list' %}">
                      <img src="{% static 'administrator/icons/seo.png' %}" alt="">
                      <br>
                      СЕО
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'cabinet:administrator:profile' %}">
                      <img src="{% static 'administrator/icons/profile.png' %}" alt="">
                      <br>
                      Профиль
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  <div>
  {% include 'administrator/__includes/administrator_menu.html' %}
  <div class="clearfix"></div>
  </div>
{% endblock %}