<footer class="footer{% if thnx %} footer_thnx{% endif %}">
  <div class="container_12">
    <div class="grid_5">
      <div class="warning">
        <span class="warning-icon">18+</span>
        <p class="warning-content">
          Информация на сайте <a href="{% url 'landing:index' %}">www.OnlineStripClub.pro</a>
          предназначена для лиц старше 18 лет
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="grid_3">
      <p class="copy">
        Все права защищены &copy; 2016
        <a href="#confidentiality-block" class="js-conf-btn">Политика конфиденциальности</a>
      </p>
    </div>
    <div class="grid_4">
      {% include 'landing/__includes/nav.html' %}
    </div>
  </div>
</footer>