{% load staticfiles %}
<section class="section section-seven">
  <div class="container_12">
    <div class="grid_12">
      <p class="section-seven__title text-center">
        Организуйте <span class="pink">стриптиз-шоу</span> в <br>
        формате реалити и зарабатывайте <br>
        <span class="pink">деньги, не выходя из дома</span>
      </p>
      <p class="section-seven__text text-center">
        Хотите узнать подробности? <br>
        Оставьте свой номер, и наш менеджер свяжется с вами
      </p>
      {% include 'landing/__includes/ticket-form.html' %}
    </div>
    <div class="clearfix"></div>
  </div>
</section>