{% load staticfiles %}
<section class="section section-four">
  <div class="container_12">
    <div class="grid_12">
      <p class="section__title section__title_white">
        Почему это выгодно?
      </p>
    </div>
    <div class="grid_7">
      <ul class="section-four-content">
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon section-four-content-item__icon_first">
            <span class="section-four-content-item__number">1</span>
            <img src="{% static 'landing/icon/one.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Вы зарабатываете даже тогда, когда спите. Трансляция идет 24 часа в сутки, 7 дней в неделю
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">2</span>
            <img src="{% static 'landing/icon/two.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Бизнес настолько прост, что вы справитесь с ним самостоятельно
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">3</span>
            <img src="{% static 'landing/icon/three.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Владельцы стриптиз-клубов заинтересованы в вашем продукте. С его помощью они повысят узнаваемость заведения и приобретут новых посетителей
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">4</span>
            <img src="{% static 'landing/icon/four.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Вы станете обладателем инновационного продукта, аналогов которому нет
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">5</span>
            <img src="{% static 'landing/icon/five.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Ваши вложения полностью окупятся через 2-5 месяцев, если вы действуете согласно инструкции
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">6</span>
            <img src="{% static 'landing/icon/six.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Вы не привязаны к одному городу и при желании сможете организовать трансляции в любой точке мира
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">7</span>
            <img src="{% static 'landing/icon/seven.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Основная часть вашей прибыли — пассивный доход. Большую часть времени бизнес работает на вас без вашего прямого участия
          </div>
        </li>
        <li class="section-four-content-item">
          <div class="section-four-content-item__icon">
            <span class="section-four-content-item__number">8</span>
            <img src="{% static 'landing/icon/eight.png' %}" alt="">
          </div>
          <div class="section-four-content-item__text">
            Стоимость платной подписки составляет от 1000 рублей в месяц. 70% от этой суммы получите вы, 30% уйдут вашему партнеру, владельцу стриптиз-клуба
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>