{% load staticfiles %}
<section class="section section-six">
  <div class="container_12">
    <div class="grid_12">
      <p class="section__title section__title_white text-center">
        Что вам нужно знать
      </p>
    </div>
    <div class="grid_12">
      <p class="section-six__text">
        Откройте новое течение в индустрии развлечений в России, и уже через год вы будете первым в своей нише в вашем городе!
      </p>
      <ul class="section-six-content">
        <li class="section-six-content__item">
          Формат запатентован и разработан компанией International Communication Technologies s.r.o.
        </li>
        <li class="section-six-content__item">
          Модель эффективно работает в США на протяжении 4-х лет под брендом LV Networks, Strip Clubs Live. Количество просмотров живой трансляции растет с каждым годом
        </li>
        <li class="section-six-content__item">
          Программа полностью соответствует Закону о защите несовершеннолетних от непристойного поведения и другим законодательным актам международного права
        </li>
        <li class="section-six-content__item">
          Каждый второй зритель реалити-шоу в городе присутствия становится реальным клиентом стриптиз-клуба
        </li>
        <li class="section-six-content__item">
          Доходы клуба за счет внедрения программы увеличиваются на треть. Продукт интересен и выгоден владельцам заведения так же, как и вам
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>