{% load staticfiles %}
<section class="section section-five">
  <div class="container_12">
    <div class="grid_12">
      <p class="section__title text-center">
        Как это работает?
      </p>
    </div>
    <div class="grid_12">
      <div class="section-five-content">
        <div class="section-five-content-item">
          <div class="section-five-content-item__icon">
            <img src="{% static 'landing/icon/config.png' %}" alt="">
          </div>
          <div class="section-five-content-item__text">
            <p>
              В рамках франшизы вы <br> получаете программу «Жизнь за <br> кулисами». Одна франшиза <br> рассчитана на один клуб
            </p>
          </div>
        </div>
        <div class="section-five-content-item">
          <div class="section-five-content-item__icon">
            <img src="{% static 'landing/icon/document.png' %}" alt="">
          </div>
          <div class="section-five-content-item__text">
            <p>
              После переговоров с владельцами <br> стриптиз-клубов вы заключаете <br> договор на установку программного <br> комплекса на базе заведения
            </p>
          </div>
        </div>
        <div class="section-five-content-item">
          <div class="section-five-content-item__icon">
            <img src="{% static 'landing/icon/megafon.png' %}" alt="">
          </div>
          <div class="section-five-content-item__text">
            <p>
              Мы настраиваем программу и <br> трансляцию, создаем <br> профессиональную рекламную <br> кампанию онлайн и оффлайн
            </p>
          </div>
        </div>
        <div class="section-five-content-item">
          <div class="section-five-content-item__icon">
            <img src="{% static 'landing/icon/people.png' %}" alt="">
          </div>
          <div class="section-five-content-item__text">
            <p>
              На ваш сайт приходят посетители, <br> оплачивают подписку и получают <br> права доступа к платным  трансляциям
            </p>
          </div>
        </div>
        <div class="section-five-content-item">
          <div class="section-five-content-item__icon">
            <img src="{% static 'landing/icon/money_up.png' %}" alt="">
          </div>
          <div class="section-five-content-item__text">
            <p>
              Уже на 4-5-ый месяцы после запуска вы <br> выходите на уровень от 400 посетителей, <br> оформивших платную подписку, и <br> зарабатываете от 150-200 тыс. рублей <br> чистой прибыли ежемесячно
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>