{% load staticfiles %}
<section class="section section-third">
  <div class="container_12">
    <div class="grid_12">
      <p class="section__title text-center">
        Для ведения бизнеса <br> вам не нужно будет
      </p>
      <div class="section-third-content">
        <div class="section-third-content-item">
          <div class="section-third-content-item__image">
            <img src="{% static 'landing/img/section-third_1.png' %}" alt="Получать разрешения">
          </div>
          <div class="section-third-content-item__text">
            Получать разрешения
          </div>
        </div>
        <div class="section-third-content-item">
          <div class="section-third-content-item__image">
            <img src="{% static 'landing/img/section-third_2.png' %}" alt="Нанимать сотрудников">
          </div>
          <div class="section-third-content-item__text">
            Нанимать сотрудников
          </div>
        </div>
        <div class="section-third-content-item">
          <div class="section-third-content-item__image">
            <img src="{% static 'landing/img/section-third_3.png' %}" alt="Платить за аренду помещения">
          </div>
          <div class="section-third-content-item__text">
            Платить за аренду помещения
          </div>
        </div>
      </div>
      <div class="section-third-content__text">
        <p>Ваш партнёр решает организационные вопросы</p>
        <p class="text-right">Вы занимаетесь исключительно маркетингом</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>