{% load staticfiles %}
<section class="section section-second">
  <div class="container_12">
    <div class="grid_7 push_5">
      <p class="section__title section__title_white">
        Хватит думать, <br> пора действовать!
      </p>
      <p class="section-second__text">
        В рамках франшизы вы приобретаете уникальный программный комплекс под названием «Жизнь за кулисами». Он обеспечивает бесплатную трансляцию главной сцены стриптиз-клуба и трансляцию гримерных, раздевалок и специальных постановок по платной подписке.
      </p>
      <p class="section-second__text">
        Мы предоставим вам эффективную бизнес-модель, полную информационную поддержку и целый комплекс работающих маркетинговых инструментов.
      </p>
      <p class="section-second__text">
      Вы сможете контролировать свой бизнес из любой точки земного шара и зарабатывать от 200 000 рублей в месяц.
      </p>
    </div>
    <div class="grid_7 push_5">
      <a href="#" class="button">Узнать подробности</a>
    </div>
    <div class="clearfix"></div>
  </div>
</section>