{% load staticfiles %}
<section class="section section-first">
  <div class="container_12">
    <div class="grid_12">
      <p class="section__title text-center">Вам подойдёт наше<br> предложение, если вы</p>
    </div>
    <div class="grid_6">
      <div class="section-first-block">
        <div class="section-first-block__item section-first-block__icon">
          <img src="{% static 'landing/icon/lamp.png' %}" alt="">
        </div>
        <div class="section-first-block__item section-first-block__text">
          <p>Уже работаете в индустрии развлечений и хотите направить свои связи и знания на создание и развитие собственного дела</p>
        </div>
      </div>
      <div class="section-first-block">
        <div class="section-first-block__item section-first-block__icon">
          <img src="{% static 'landing/icon/man.png' %}" alt="">
        </div>
        <div class="section-first-block__item section-first-block__text">
          <p>Хотите заняться бизнесом, но боитесь, что у вас ничего не получится из-за отсутствия опыта</p>
        </div>
      </div>
    </div>
    <div class="grid_6">
      <div class="section-first-block">
        <div class="section-first-block__item section-first-block__icon">
          <img src="{% static 'landing/icon/dollar.png' %}" alt="">
        </div>
        <div class="section-first-block__item section-first-block__text">
          <p>Ищете простой и эффективный способ получения дохода при минимальных временных затратах</p>
        </div>
      </div>
      <div class="section-first-block">
        <div class="section-first-block__item section-first-block__icon">
          <img src="{% static 'landing/icon/money.png' %}" alt="">
        </div>
        <div class="section-first-block__item section-first-block__text">
          <p>Ищете выгодные способы вложения свободных средств</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>