{% extends 'cabinet/welcome.html' %}
{% block title %}Правила использования{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center bottom-add">Правила использования</h2>
    </div>
    <div class="col-lg-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cum esse est in inventore magni, minus mollitia nostrum, quidem recusandae sint velit veniam vero voluptatum? Aperiam fuga ipsam nihil pariatur perspiciatis saepe, similique. Aliquam eveniet facere laboriosam minus nulla officia officiis optio quae quia ratione similique, totam velit veniam.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores id inventore? Architecto, atque eligendi eveniet inventore ipsum iure minus modi, nam, nostrum odit officiis quisquam repudiandae sint velit voluptates?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut blanditiis quaerat reiciendis repellendus. Accusamus accusantium adipisci alias amet blanditiis deleniti dolores eaque, enim eos excepturi expedita facilis harum impedit incidunt ipsa ipsam itaque libero minima minus, modi nobis nostrum nulla odio placeat quia repellendus rerum similique tempore tenetur ut vel velit veniam veritatis. Blanditiis debitis dolor doloremque enim eos esse nostrum odit porro, quam quod? Iusto, laborum, recusandae. Animi blanditiis commodi eum fugit magni molestiae neque nihil officia quod soluta! A deserunt distinctio eaque ex expedita inventore labore quasi repellat sequi! Consequuntur cum ex, itaque quod recusandae vel voluptates!
      </p>
    </div>
  </div>
{% endblock %}