<div class="container">
    <div class="header-submenu">
      <ul class="list-inline">
        <li><a href="{% url 'cabinet:administrator:systemconfig' %}">Настройки</a></li>
        <li><a href="{% url 'cabinet:administrator:worker_list' %}">Сотрудники</a></li>
        <li><a href="{% url 'cabinet:administrator:archive_list' %}">Архив видео</a></li>
        <li><a href="{% url 'cabinet:administrator:paymentpackages_list' %}">Платёжные пакеты</a></li>
        <li><a href="{% url 'cabinet:administrator:newsletter_list' %}">Рассылки</a></li>
        <li><a href="{% url 'cabinet:administrator:paymentcoupon_list' %}">Оплата купонов</a></li>
        <li><a href="{% url 'cabinet:administrator:camera_list' %}">Камеры</a></li>
        <li><a href="{% url 'cabinet:administrator:page_list' %}">SEO</a></li>
        <li><a href="{% url 'cabinet:administrator:profile' %}">Профиль</a></li>
      </ul>
    </div>
  <div class="clearfix"></div>
</div>